@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "Inter", system-ui, sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-out 0s;
  -webkit-text-fill-color: white !important;
  -webkit-box-shadow: 0 0 0 1000px #1e1e1e inset !important;
  border: none !important;
}

::selection {
  background-color: #fff04b;
  color: #111111;
}

::-webkit-scrollbar {
  background-color: #111111;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #fff04b;
  border-radius: 10px;
  box-shadow: 0 0 5px #fff04b;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #e7d944;
}

::-webkit-scrollbar-track {
  background: #111111;
  border-radius: 10px;
}
